extends layout

block content
  .author
    span By Devin Young in #[a(href=categoryURL(post.category)) #{post.category}]
  != post.content

  div#disqus_thread
  script.
    var disqus_shortname = 'devinyoungweb';
    var disqus_identifier = "#{post.slug}";
    var disqus_title = "#{post.title}";
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
