extends layout

block content
  :markdown
    ###SUMMARY

    **Software Engineer with a passion for real-time web and mobile applications**

    - Systems and software engineering experience
    - Scripting experience with Ruby and Bash
    - Expert skills in repository management
    - Contributer and creator of multiple open-source projects
    - Extensive experience in automation with Jenkins
    - Highly proficient with Unix-based systems
    - Strong experience with relational databases
    - Experience with virtualization using Virtualbox and VMware

    ----

    ###ACADEMICS

    - Bachelor of Science in Sports Management - **[The Ohio State University](http://youtu.be/XanuRW23nMw), 2009-2012**
    - Self-taught computer nerd, **2010-present**

    ----

    ###WHAT I KNOW

    ####Languages I know and enjoy using:
    Javascript/Node.js, Ruby, Objective-C (iOS), Java (Android/Google Glass), Shell/Bash

    ####Languages I know but do not actively seek to use
    PHP, Python, Coldfusion, Java (non-Android)

    ####Web Frameworks
    Rails 3/4 (Ruby), Express (Node.js; this website is built on Express!), CakePHP (PHP)

    ####Source Control
    Git. Seriously, just use Git.

    ####Operating Systems
    Any Unix-based system. I primarily use [Ubuntu](http://ubuntu.com) and [Mac OS X](http://www.apple.com/osx). Don't ask me about anything [Windows](https://www.facebook.com/pages/Windows-sucks/95421065426). Really, just don't.

    ####Random tools I like telling people I know
    [Jenkins](http://jenkins-ci.org) (continuous integration), [Vagrant](http://vagrantup.com) (distributed virtual environments)

    ----

    ###WHAT I'VE DONE

    #### [Topgolf](http://topgolf.com) - April 2013-Present
    **Software Engineer**
    - Migrated the company software repository from Subversion to Git
    - Automated software deployments using Jenkins and Capistrano
    - Played a large part in moving the company's software to a new payment gateway
    - Designed distributable development environments using Vagrant

    ####Public Sites that I Worked On:

    <div class="col-sm-4">
      <a href="https://myaccount.topgolf.com"><img src="/img/topgolf-mws.png", alt="Topgolf Member Website" class="home-img" /></a>
    </div>
    <div class="clearfix"></div>

    ----

    #### [WebDev Designs](http://webdevdesigns.com) - January 2013-April 2013
    **Web Application Developer**
    - Monitored and configured Microsoft IIS servers for application deployments
    - Built a custom Wordpress plugin to connect to SQL Server 2012 in addition to a local MySQL database
    - Improve UX design on an MRP application built in Coldfusion
    - Developed a jQuery/HTML5 excel-like grid to be compatible with the Coldfusion backend via JSON

    ####Public Sites that I Worked On:

    <div class="col-sm-4">
      <a href="http://ahomewithhope.org"><img src="/img/tchc.png", alt="Tarrant County Homeless Coalition" class="home-img" /></a>
    </div>
    <div class="clearfix"></div>

    ----

    #### [Anchor Marketing & Design](http://anchormd.com) - November 2012-January 2013
    **Web Developer**
    - Developed sites in PHP using Codeigniter as MVC framework
    - Built custom Wordpress themes and plugins
    - Designed responsive sites to be compatible with all web devices and browsers
    - Optimized loading time for sites by leveraging browser caching and script minification

    ####Public Sites that I Worked On:

    <div class="col-sm-4">
      <a href="http://megartsmedia.com"><img src="/img/meg.png", alt="Mendelson Entertainment Group" class="home-img" /></a>
    </div>
    <div class="col-sm-4">
      <a href="http://nicuhelpinghands.org"><img src="/img/nicu.png", alt="Nicu Helping Hands" class="home-img" /></a>
    </div>
    <div class="col-sm-4">
      <a href="http://ulterra.com"><img src="/img/ulterra.png", alt="Uterra Drilling" class="home-img" /></a>
    </div>
    <div class="clearfix"></div>

    ----
